@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-VariableFont_slnt,wght.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../Poppins-Regular.ttf);
}
@font-face {
  font-family: HelveticaNeueCyr;
  src: url(../HelveticaNeueCyr-Thin.ttf);
}